# supabase configuration
VITE_SUPABASE_PROJECT_ID="your_project_id"
VITE_SUPABASE_PUBLISHABLE_KEY="your_supabase_anon_key"
VITE_SUPABASE_URL="https://your_project_id.supabase.co"






# admin configuration (you wont get acces by just adding email here, this just show admin button in you prfile but you can never access the admin panel if you're not added in admin list in supabase by author _ Ovi ren, if you don't have access, just keep it as it is, no need to change or just remove it)
VITE_ADMIN_EMAILS="email1@example.com,email2@example.com"
